// font style
$font-family-no-number  : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family            : "Helvetica Neue For Number", $font-family-no-number;
$code-family            : Consolas, Menlo, Courier, monospace;
$font-size-base         : 14px;
$font-size-lg           : 16px;
$font-size-sm           : 12px;

// color 
$primary-color          : #1890ff;
$info-color             : #1890ff;
$success-color          : #52c41a;
$error-color            : #f5222d;
$highlight-color        : #f5222d;
$warning-color          : #faad14;
$normal-color           : #d9d9d9;

$primary-color-1        : rgba($primary-color,.1);

$heading-color          : rgba(#000, 85%);
$text-color             : rgba(#000, 65%);
$text-color-secondary   : rgba(#000, 45%);
$heading-color-dark     : rgba(#fff, 100%);
$text-color-dark        : rgba(#fff,85%);
$text-color-secondary-dark: rgba(#fff, 65%);

// border style
$border-color-base      : #d9d9d9;
$border-color-split     : #d9d9d9;
$border-width-base      : 1px; 
$border-style-base      : solid;

// others
$line-height-base       : 1.5;
$border-radius-base     : 4px;
$border-radius-sm       : 2px;

