.content {
    .headForm {
        margin-bottom: 20px;
    }
    .table {
        margin-bottom: 20px;
    }
     :global {
        .ant-input-disabled {
            color: rgba(0, 0, 0, 0.85) !important;
        }
    }
}